html, body {
height: 100%;
}
h5 {
font-weight: bold;
}
kbd {
  padding: 5px 6px 3px 5px;
  text-transform: uppercase;
  font-size: 100%;
}

iframe {
width: 100%;
}
#input1 {
width: 100px;
}
#input2 {
width: 130px;
}
#input3 {
width: 160px;
}
#input4 {
width: 220px;
}
#input5 {
width: 285px;
}
#buttons {
margin-top: 20px;
}

#video {
	width: 100%;
	height: 480px;
	display: block; 
	margin: auto;
}
#chatsidebar {
position: absolute;
top: 0;
right: 0;
bottom: 0;
height: 100%;
width: 350px;

}

#musicsidebar {
position: absolute;
top: 0;
left: 0;
bottom: 0;
height: 100%;
width: 350px;
}

#chat {
	height: 100%; 
	width: 350px;
}

#dashboard {
	background: #19191f;
}

/* Login Page */

div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user {
    color: #FFF;
    background-color: #FFD202;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    width: 100%;
    text-transform: uppercase;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="username"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}
.navbar-default  {
  background-color: #29292F;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus  {
  background-color: #19191f;
}
.navbar-default .navbar-nav>li>a {
color: #8c8c9c;
}
.navbar-default .navbar-brand {
  background-color: #29292F;
}
.dropdown-menu {
  background-color: #29292F;
  border: #8c8c9c;
}
.dropdown-menu :hover{
  background-color: #19191f;
  border: #fff;
}
.dropdown-menu>li>a {
color: #8c8c9c;
}
.dropdown-menu>li>a:hover {
color: #fff;
background-color: #19191f;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

.footer {
padding-top: 15px;
    height: 50px;
    margin: auto;
    width: 100%;
	text-align: center;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.btn-hover {
    font-weight: normal;
    color: #6441a5;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.btn-hover-alt {
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.panel-primary {
  border-color: #6441a5;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #6441a5;
  border-color: #6441a5;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #6441a5;
}
.panel-primary > .panel-heading .badge {
  color: #6441a5;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #6441a5;
  
}

.page-header {
  padding-bottom: 0px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #f8f5f0;
}

.container {
  width: 1000px;

}
.panel .panel-heading, .panel .panel-title {
  font-size: 14px;
}
.iframe1 {
height: 595px;
}
.iframe2 {
height: 2050px;
}
.iframe3 {
height: 320px;
}
